<!-- Start Navbar -->
<header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl2 pr4">
  <div role="button" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger md-hide lg-hide pr2">☰</div>
  <a href="/" class="text-decoration-none inline-block mx-auto">
    <amp-img src="/logo.png" width="230" height="60" layout="fixed" class="my0 mx-auto imagen-logo" alt="Mugricio"></amp-img>
  </a>
  <nav class="ampstart-headerbar-nav ampstart-nav xs-hide sm-hide">
    <ul class="list-reset m0 p0 flex justify-end nowrap">
      {% for node in site.pages %}
        {% unless node.excluir == 'si' %}
            {% if node.url == page.url %}
                <li class="ampstart-nav-item www-current-page">
                  <a href="{{ node.url }}" class="text-decoration-none block">
                    {{ node.title }}
                  </a>
                </li>
            {% else %}
                <li class="ampstart-nav-item">
                  <a href="{{ node.url }}" class="text-decoration-none block">
                    {{ node.title }}
                  </a>
                </li>
            {% endif %}
        {% endunless %}
      {% endfor %}
    </ul>
  </nav>
</header>
<amp-sidebar id="header-sidebar" class="ampstart-sidebar px3 md-hide lg-hide" layout="nodisplay">
<div class="flex justify-start items-center ampstart-sidebar-header">
  <div role="button" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger items-start">✕</div>
</div>
<nav class="ampstart-sidebar-nav ampstart-nav">
  <ul class="list-reset m0 p0 caps h5">
    {% for page in site.pages %}
    {% unless page.excluir == 'si' %}
      <li class="ampstart-nav-item">
        <a href="{{ page.url }}">
          {{ page.title }}
        </a>
      </li>
    {% endunless %}
    {% endfor %}
  </ul>
</nav>
</amp-sidebar>
<!-- End Sidebar -->
<!-- End Navbar -->
